body {
    background-color:coral;
}

#time {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-right: 25px;
    padding-top: 20px;
    font-family: courier, monospace;
    text-align: end;
    color: black;
    font-size: 25px;
}